.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.row {
    justify-content: space-between;
}

.card {
    width: 200px;
    height: 120px;
    border: 1px solid #999;
}