.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.card {
    width: 200px;
    height: 120px;
    border: 1px solid #999;
}

/*Estilo base - móvil*/

.gallery {
    display: grid;
    grid-template-columns: 1ft;
    gap: 16px;
}

/*Tablet*/


    @media (min-width:768px){
        .gallery {
    display: grid;
    grid-template-columns: 1ft;
    gap: 16px;
}
}

/*Desktop*/


    @media (min-width:1024px){
        .gallery {
    display: grid;
    grid-template-columns: 1ft;
    gap: 16px;
}
}

.product {
    min-height: 150px;
    background: #f8f8f8;
}